<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <div class="container-fluid red">
        a
    </div>
    <div class="row">
        <div class="col s12 m6 push-m3">
            <h3 class="light center">Editar Cliente</h3>
            <form action="#" method="POST">
                <input type="hidden" name="id" value="">
                <div class="input-field col s12">
                    <input type="text" name="name" id="name" value="">
                    <label for="name">Nome</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="last" id="last" value="">
                    <label for="last">Sobrenome</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="email" id="email" value="" autocomplete="email">
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field col s12">
                    <input type="date" name="birth" id="birth" value="">
                    <label for="birth">Nascimento</label>
                </div>
                <button type="submit" name="btn-edit" class="btn">Atualizar</button>
                <a href="#" class="btn green">Lista de Clientes</a>
            </form>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>