<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <div class="container-fluid red">
        <header>
            o
        </header>
    </div>
    <div class="container">
        <div class="row center-align">
            <h1 class="center-align">Usuário</h1>
            <div class="col s12 m6 push-m3">
                <a href="../cliente/cliente.php" class="btn">Consultar Cliente</a>
                <a href="../funcionario/funcionario.php" class="btn">Consultar Funcionário</a>
            </div>
        </div>
        <div class="center-align">
            <a href="#" class="btn red">Logout</a>
        </div>
    </div>
     <!--JavaScript at end of body for optimized loading-->
     <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>